.header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline; 
  transition: all 1s ease-in-out;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
  letter-spacing: 1px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .logo {
    font-size: 1.5rem;
  }

  .header a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .header ul {
    display: none;
  }

  .ham {
    display: flex;
    width: 46px;
    height: 35px;
    z-index: 100;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    display: block;
  }

  .bar3 {
    width: 75%;
  }
}

.headerUlActive {
  position: fixed !important;
  z-index: 10;
  display: flex !important;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;

  background-color: #77002e;
  top: 6rem;
  bottom: 0;
  width: 100vw;
  transform: translateX(-80vw);
  transition: all ease-in-out 1s;
}

.headerUlActive:first-child {
  padding-top: 2rem;
  border-top: 1px solid white;
}

.headerUlActive li {
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  justify-items: center;
  border-bottom: 1px solid white;
}

.headerUlActive li a {
  font-size: 2rem;
  letter-spacing: 1px;
}